@layer tailwind-base, tailwind-utilities;

@import './theme.css';

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  html {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Don't forget to use the group class on the parent */
.icon-slide-right {
  @apply transition-transform duration-200 group-hover:translate-x-1;
}

h2 {
  @apply text-3xl md:text-4xl font-semibold;
}
