@import "./theme.css";

@layer tailwind-base, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;

  @layer base {
    html {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;

      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      /* Add scroll offset to account for fixed header */
      scroll-padding-top: 80px;
    }

    h2 {
      @apply text-3xl md:text-4xl font-semibold;
    }
  }
}

@layer tailwind-components {
  @tailwind components;
}

@layer tailwind-utilities {
  @tailwind utilities;
}
